/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  width: 30vh;
  position: fixed;
  z-index : 10;
  right: 0;
 background-color: #ECECEC;
 border-radius: .36rem;
}



.head {
  color: rgb(0, 0, 0);
  padding-top : 14px;
  padding-left: 16px;
  text-decoration: none;
  display: block;
}
/* Style navigation menu links */
.topnav a {
  color: #f81b1b;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size:  30px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
}

.top-btn {
  background-color: #004AAD;
  color: white;
}
.top-btn:hover {
  color: #004AAD;
  background-color: white;
  border: #004AAD 2px solid;
}

/* Style the active link (or home/logo) */
.active {
  color: black !important;
}