@media only screen and ( max-width : 450px ) {
    .qrReader {
        width: 85% !important;
        height: min-content;
    }
}
@media only screen and ( max-width : 820px ) {
    .qrReader {
        width: 50% !important;
        height: fit-content;
    }
}
.qrReader {
    width : 30%;
    height: fit-content;
}