@media only screen and ( width <= 400px ) {
    .qrReader {
        width: 90% !important;
    }
}

@media only screen and ( 401px <= width <= 1000px ) {
    .qrReader {
        width: 50% !important;
    }
}
.qrReader {
    width : 30%;
}